{% extends 'base.html' %} {% block title %}{{ super() }} - Login{% endblock %} {% block content %}
<main role="main" class="container">
    <div class="col-md-4 col-md-offset-4" style="margin: 100px 0 0 360px;">
        <h2 style="margin-bottom: 10%;">Login</h2>
        <form action="" method="POST" style="margin-bottom: 43%;">
            {{ loginForm.csrf_token }}
            <div class="form-group">
                <label for="username">Username: </label> {{loginForm.username(class="form-control", placeholder="Usuário")}} {% if loginForm.errors.username %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in loginForm.errors.username %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label> {{loginForm.password(class="form-control", placeholder="Senha")}} {% if loginForm.errors.password %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in loginForm.errors.password %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="checkbox">
                <label for="remember_me">Remember me</label> {{loginForm.remember_me()}}
            </div>
            {{loginForm.submit(class="btn btn-primary btn-user btn-block")}}
        </form>
    </div>
</main>{% endblock %}